#txt-area{
  display: block;
  height: 15vh;
  width: 70%;
  border: black solid;
  margin: auto;
  padding: 1rem;
  text-align: center;

}
.heading{
    background-color:cornflowerblue;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: black ;
    font-size: 3rem;

    }
    .outputtext{
      font-weight: bolder;
      font-size: x-large;
      text-align: center;
      margin-top: 2rem;
    }
    #button-translate{
      height: 3rem;
      text-align: center;
      margin: auto;
      display: block;
      font-weight: bolder;
      background-color: cornflowerblue;
      font-size: x-large;
      margin-top: 0.5rem;
    }
 
    

    #output{
      display: block;
      height: 15vh;
      width: 70%;
      border: black solid;
  
      padding: 1rem;
      text-align: center;
      margin: auto;


    }


.heroimage{
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  display: block;
  height: 60vh;
}
.about-txt {
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  }
  .para-area{
    background-color: cornflowerblue;
    font-style: oblique;
   padding: 1rem;
   font-size: larger;
   font-weight: bolder;
  }
  .got-text{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: x-large;
    font-weight: bolder;
    background-color: cornflowerblue;
    border-radius: 1rem;
  }